.accordion-start-js {
  transition: 0.3s;
    cursor: pointer;

  &.open svg {
    transform: rotateX(-180deg);
  }

  svg {
    width: 16px;
    height: 8px;
    fill:  #FFFFFF;
    transition: 0.3s;
    transform: rotate(0deg);
  }

  &.open{
    .header-accordion__item{
      background: #E85022;

    }
    .header-accordion__arrow{
      background: rgba(255, 255, 255, 0.12);
    }

    .header-accordion__inner{
      &::before{
        background: #E85022;
      }
    }
  }
}

.accordion-content-js {
  position: relative;
  z-index: 1;
  color: #1e1e1e;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  box-sizing: content-box;
  transition: max-height 0.8s ease;

  &.open {
    max-height: inherit;
    opacity: 1;
    overflow: visible;
    visibility: visible;
  }
}


.js-text__more-button {
  margin-top: 10px;
  border: none;
  transition: 0.3s;
  background: transparent;
  color: var(--unnamed, #E85022);
  border-bottom: 1px solid ;
  margin-bottom: 20px;
  cursor: pointer;

  @include min1024 {
    &:hover{
      border-bottom: 1px solid transparent;
    }
  }
}

