
.header {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #F2F2F2;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    @include min768 {
      padding: 17px 0;
    }

    @include min1024 {
      padding: 20px 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 10px;
    @include max1024 {
      //margin-right: 70px;
    }

    @include max768 {
      margin-right: auto;

    }

  }

  &__body {
    display: none;
    @include min1024 {
      display: flex;
      justify-content: space-between;
      align-self: center;
      margin: 0 0px;
    }

    @media screen and (max-width: 1100px) {
      margin: 0 0px;
    }
  }

  &__list {
    margin: 0;

    &--pc{
      display: none;
    }

    &--mobile{
      padding: 0;
      border-top: 1px solid #F4F4F4;
      margin-top: 80px;
      padding: 15px 30px;

      @media screen and (max-width: 414px) {
        margin-top: 70px;
      }
    }

    @include min1024 {
      border-top: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
    }

    @include max1024 {
      &_border-top {
        .header__item {
          padding: 0 20px;

          @include max600 {
            padding: 0 10px;
          }
        }
      }
    }
  }

  &__buttons{

    @include min1024 {
      margin: 0 -10px;
    }

    &--pc{
      display: none;

      @media screen and (min-width: 660px) {
        display: flex;
      }

      .btn{
        margin: 5px 10px;
      }
    }

    &--mobile{
      padding: 0 30px;
      .btn{
        &:not(:last-child){
          margin-bottom: 15px;
        }
      }

    }
  }

  &__link{
    display: inline-flex;
    height: 100%;
    align-items: center;

    @include min1024 {
      display: flex;
    }
  }

  &__item{
    padding: 15px 0;
    @include min1024 {
      padding: 0 10px;
    }
  }

  &__wrap {
    overflow: scroll;
    margin: 0 -20px;
    height: 100%;
    @include max768 {
      padding-bottom: 30px;
    }
  }

  &__name {
    padding-top: 10px;
  }

  &__link,
  &__name,
  &__btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #222123;
    @media screen and (max-width: 1600px) {
      font-size: 16px;
      //margin: 10px;
    }

    @include min1024 {
      font-size: 14px;
    }

    @include min1366 {
    font-size: 16px;
    }

    &.active {

    }

    @include min1024 {
      &:hover {

      }
    }
  }

  &__item {
    &_name {
      padding: 0 20px;

      @include max600 {
        padding: 0 10px;
      }
    }
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
  }


  &__nav {
    @include max1024 {
      //margin-left: 70px;
    }

    @include max600 {
      margin-left: 10px;
    }

    button{
      @include min1024 {
        &:hover{
          .nav__icon{
            fill: #EFA1C3;
          }
        }
      }
    }
  }

  &__menu {
    margin-left: 20px;
    display: flex;
    align-items: center;

    @include min1024 {
      display: none;
    }
  }


  &__link{

    transition: 0.3s;
    &.active{

    position: relative;
    color:  #E85022;
      &:before{
        content: '' ;
        display: inline-block;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0px;
        bottom: -10px;
        background: #E85022;
      }
      @include min1024 {
        &:before{
          bottom: -22px;
        }
      }
    }

    @include min1024 {
      &:hover{
        color:  #E85022;
      }
    }
  }


}

.burger {
  @include burger;

  &__line {
  }

  &.burger--active {
    position: absolute;
    z-index: 101;
    right: 15px;
    top: 20px;
    &::before,
    &::after {
      background: #222123;
    }

    @media screen and (max-width: 414px) {
      top: 14px;
    }
  }
}

.nav-mobile {
  max-width: 270px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 180px;
  z-index: 100;
  background: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  transition: 0.3s;

  @media screen and (max-width: 414px) {
    max-width: 100%;
  }

  &__container{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }

  &.menu--active {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    @include max1024 {
      border-bottom: 0.5px solid rgba(30, 30, 30, 0.5);
    }

    @include max600 {
      margin: 0 -10px;
    }

    span {
      color: #efa1c3;
      margin-left: 10px;
      display: inline-block;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
}

.nav {
  align-self: center;
  width: 100%;
  max-width: 150px;

  @include max768 {
    max-width: 220px;
  }

  @include max600 {
    max-width: 130px;
  }

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__item {

    @include max600 {
      padding: 15px;
      margin: -15px;
    }

    &_mobi {
      display: none;
    }
    @include max768 {
      &_pc {
        display: none;
      }

      &_mobi {
        display: block;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    transition: 0.3s;

    @include min1024 {
      &:hover{


      }
    }
  }

}

.logo{
  &__wrapper{
    display: flex;
    align-items: flex-end;
  }

  &__logo{
    width: 25px;
  }

  &__text{
    margin-left: 5px;
    @include min1024 {
      display: none;
    }

    @include min1366 {
      display: block;
    }
  }
}



.bbb{

  height: 100px;
  display: block;
  background: red;
  width: 100%;
  min-height: 200px;

}









