.main-section {
  min-height: 540px;
  position: relative;

  &__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0;

    img{
      max-height: 470px;

      @include min768 {
        max-height: 660px;
      }

      @include min1366 {
        max-height: 100%;
      }

      //@include min1600 {
      //  max-height: 670px;
      //}
    }

    @include min1024 {
      transform: translate(0) !important;
    }
  }

  &__inner {
    padding-top: 70px;
    padding-bottom: 60px;

    @include min768 {
      padding-top: 140px;
      padding-bottom: 140px;
    }

    @include min1366 {
      padding-top: 150px;
      padding-bottom: 150px;
    }

    @include min1600 {
      padding-top: 190px;
      padding-bottom: 200px;
    }
  }

  &__title {
    opacity: 0;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 20px;
    @media screen and (max-width: 350px) {
      font-size: 28px;
    }

    @include min768 {
      font-size: 50px;
      line-height: 120%;
    }

    @include min1366 {
      font-size: 70px;
      line-height: 110%;
      margin-bottom: 30px;
    }

    @include min1600 {
      font-size: 90px;
      line-height: 110%;
      margin-bottom: 40px;
    }
  }

  &__logo {
    height: 40px;
    position: relative;
    top: 6px;

    @media screen and (max-width: 350px) {
      height: 35px;
    }

    @include min768 {
      height: 56px;
      top: 9px;
    }

    @include min1366 {
      height: 77px;
      top: 14px;
    }

    @include min1600 {
      height: 100px;
      top: 17px;
    }
  }

  &__description {
    opacity: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #434344;
    max-width: 270px;

    @media screen and (max-width: 350px) {
      max-width: 250px;
    }

    @include min768 {
      font-size: 16px;
      max-width: 420px;
    }

    @include min1366 {
      font-size: 18px;
      max-width: 500px;
    }

    @include min1600 {
      max-width: 570px;
    }
  }

  &__animate {
  }
}

.animation-search {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;

  &__inner {
    position: relative;
    display: inline-flex;
    padding: 0 25px;

    @include min768 {
      padding: 0 67px;
      margin-top: 50px;
    }

    @include min1366 {
      margin-top: -20px;
    }

    @include min1600 {
      margin-top: -110px;
      left: -50px;
    }

  }

  &__icon-start {
    opacity: 0;
    img {
      width: 100%;
      height: 100%;
    }
    height: 40px;
    width: 31px;
    z-index: 2;

    position: absolute;
    left: 11px;
    top: 55px;
    flex-shrink: 0;
    //min-height: 40px;
    //margin-top: 100px;
    //margin-left: 100px;


    @include min768 {
      height: 62px;
      width: 48px;
      left: 45px;
      top: 20px;
      min-height: 62px;
    }

    @include min1366 {
      left: 43px;
      top: -26px;
    }

    @include min1600 {
      top: -60px;
    }
  }

  &__route {
    position: relative;
    z-index: 1;
    width: 218px;
    @include min768 {
      width: 431px;
    }

    @include min1600 {
      width: 672px;
    }
  }

  &__hidden {
    overflow: hidden;
    opacity: 0;
  }

  &__icon-end {
    opacity: 0;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
    height: 88px;
    width: 68px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    right: -7px;
    top: -87px;
    min-height: 88px;

    @include min768 {
      height: 180px;
      width: 139px;
      right: 0px;
      top: -180px;
      min-height: 180px;
    }


  }
}
