<footer class="footer">
  <div class="footer__inner">
    <div class="container">
      <div class="footer__top">
        <a href="#" class="footer__logo">
          <img loading="lazy" src="img/footer-logo.svg" class="image" alt="img">
        </a>
        <nav class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link js-link" href="#section-1">О компании</a>
            </li>
            <li class="footer__item">
              <a class="footer__link js-link" href="#section-2">Услуги</a>
            </li>
            <li class="footer__item">
              <a class="footer__link js-link" href="#section-3">Производство</a>
            </li>
            <li class="footer__item">
              <a class="footer__link js-link" href="#section-4">Филиалы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link js-link" href="#section-5">Наши клиенты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link js-link" href="#section-6">Новости</a>
            </li>
          </ul>
        </nav>

        <ul class="footer__contacts contacts-footer">
          <li class="contacts-footer__item">
            <a href="tel:+78005001050" class="contacts-footer__link">
              <svg class="contacts-footer__icon">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              8-800-500-10-50
            </a>

          </li>

          <li class="contacts-footer__item">
            <a href="mailto:info@gklogistik.ru" class="contacts-footer__link">
              <svg class="contacts-footer__icon">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              info@gklogistik.ru
            </a>

          </li>

          <li class="contacts-footer__item">
            <a href="https://yandex.ru/maps/?text=г.%20Курск,%20ул.%20Пучковка,%2051б" target="_blank" class="contacts-footer__link">
              <svg class="contacts-footer__icon">
                <use xlink:href="img/sprite.svg#white-geo"></use>
              </svg>
              г. Курск, ул.Пучковка, 51б
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="footer__copy">
          &copy 2023. Логистические решения. Все права защищены.
        </div>
        <a target="_blank" href="https://plastilin-art.ru/" class="footer__info">
          <span>
            Разработка сайта
          </span>
          <span>
            <svg class="">
              <use xlink:href="img/sprite.svg#plasticine"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>




