<!-- Header -->
<header class="header">
  <div class="container">
    <div class="header__content">

      <a href="main.html" class="header__logo logo">
        <div class="logo__wrapper">
          <img
            loading="lazy"
            src="img/logo.svg"
            class="logo__image"
            alt="logo"
          />

          <img
            loading="lazy"
            src="img/logo-text.svg"
            class="logo__text"
            alt="logo"
          />
        </div>

      </a>

      <ul class="header__list header__list--pc">
        <li class="header__item">
          <a class="header__link js-link" href="#section-1">О компании</a>
        </li>
        <li class="header__item">
          <a class="header__link js-link" href="#section-2">Услуги</a>
        </li>
        <li class="header__item">
          <a class="header__link js-link" href="#section-3">Производство</a>
        </li>
        <li class="header__item">
          <a class="header__link js-link" href="#section-4">Филиалы</a>
        </li>
        <li class="header__item">
          <a class="header__link js-link" href="#section-5">Наши клиенты</a>
        </li>
        <li class="header__item">
          <a class="header__link js-link" href="#section-6">Новости</a>
        </li>
      </ul>

      <div class="header__buttons header__buttons--pc">
        <a href="tel:+78005001050" class="btn header__btn btn-orange">8-800-500-10-50</a>
        <a href="mailto:info@gklogistik.ru" class="btn header__btn btn-border">info@gklogistik.ru</a>
      </div>

      <div class="header__menu">
        <button
          class="burger"
          aria-label="Открыть меню"
          aria-expanded="false"
          data-burger
        >
          <span class="burger__line"></span>
        </button>

        <nav class="nav-mobile" data-menu>
          <div class="nav-mobile__container">
            <ul class="header__list header__list--mobile">
              <li class="header__item">
                <a class="header__link js-link" href="#section-1">О компании</a>
              </li>
              <li class="header__item">
                <a class="header__link js-link" href="#section-2">Услуги</a>
              </li>
              <li class="header__item">
                <a class="header__link js-link" href="#section-3">Производство</a>
              </li>
              <li class="header__item">
                <a class="header__link js-link" href="#section-4">Филиалы</a>
              </li>
              <li class="header__item">
                <a class="header__link js-link" href="#section-5">Наши клиенты</a>
              </li>
              <li class="header__item">
                <a class="header__link js-link" href="#section-6">Новости</a>
              </li>
            </ul>

            <div class="header__buttons header__buttons--mobile">
              <a href="tel:+78005001050" class="btn header__btn btn-orange">8-800-500-10-50</a>
              <a href="mailto:info@gklogistik.ru" class="btn header__btn btn-border">info@gklogistik.ru</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->




