<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="block-news">

        <div class="block-news__top">
          <img loading="lazy" src="img/modal.jpg" class="image" alt="img">
        </div>
        <div class="block-news__bottom">
          <div class="block-news__contain">
            <div class="block-news__head">
              <div class="block-news__name">Название новости</div>
              <div class="block-news__date">30.08.23</div>
            </div>

            <div class="block-news__text-modal ">
              <p>
                Рыбатекст используется дизайнерами, проектировщиками, фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
              </p>

              <p>

                Идейные соображения высшего порядка, а также высококачественный прототип будущего проекта играет определяющее значение для новых предложений. Не следует, однако, забывать, что выбранный нами инновационный путь.
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="news-second">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="block-news">

        <div class="block-news__top">
          <img loading="lazy" src="img/news2.jpg" class="image" alt="img">
        </div>
        <div class="block-news__bottom">
          <div class="block-news__contain">
            <div class="block-news__head">
              <div class="block-news__name">Футбольная команда «Логистик» завоевала очередное золото.</div>
              <div class="block-news__date">29.06.23</div>
            </div>

            <div class="block-news__text-modal ">
              <p>
                29 июня 2023 г. проходила решающая игра в «Золотом финале» Весеннего чемпионата 7*7 БудниЛИГИ ЭЛИТ-Дивизиона 2023г., в которой наша команда одержала победу, что позволило ей занять первое место. Гордимся нашими ребятами!
              </p>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

