<div class="popup" data-popup="popup-1">
  <div class="popup__body">
    <div class="popup__content">
      <button class="popup__close"></button>

        <div class="block-news">

          <div class="block-news__top">
            <img loading="lazy" src="img/news.3-1new.jpeg" class="image" alt="img">
          </div>
          <div class="block-news__bottom">
            <div class="block-news__contain">
              <div class="block-news__head">
                <div class="block-news__name">Волейбольная команда «Логистические решения» проходит дальше.
                </div>
                <div class="block-news__date">16.07.23</div>
              </div>

              <div class="block-news__text-modal ">
                <p>
                  16 июля 2023 года прошел третий этап открытого кубка ЮЗГУ по пляжному волейболу среди мужчин. В упорной борьбе команда «Логистические решения» заняла первое место, что позволило ребятам пройти в четвертый тур. Желаем новых побед!

                </p>
              </div>

            </div>
          </div>

        </div>
      </div>
  </div>

</div>

<div class="popup" data-popup="popup-2">
  <div class="popup__body">
    <div class="popup__content">
      <button class="popup__close"></button>

        <div class="block-news">

          <div class="block-news__top">
            <img loading="lazy" src="img/news2.jpg" class="image" alt="img">
          </div>
          <div class="block-news__bottom">
            <div class="block-news__contain">
              <div class="block-news__head">
                <div class="block-news__name">Футбольная команда «Логистик» завоевала очередное золото.</div>
                <div class="block-news__date">29.06.23</div>
              </div>

              <div class="block-news__text-modal ">
                <p>
                  29 июня 2023 г. проходила решающая игра в «Золотом финале» Весеннего чемпионата 7*7 БудниЛИГИ ЭЛИТ-Дивизиона 2023г., в которой наша команда одержала победу, что позволило ей занять первое место. Гордимся нашими ребятами!
                </p>

              </div>

            </div>
          </div>

        </div>
      </div>
  </div>

</div>
<div class="popup" data-popup="popup">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#" class="popup__close close-popup">x</a>
      <div class="popup__title">Это модальное окно 1111111111111111</div>
      <div class="popup__text">
        <a class="popup-link" href="#" data-target="popup_2">Попап 2</a>
        <div class="content__text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam itaque sunt velit in adipisci, exercitationem quas illo repudiandae porro autem modi nam! Neque dolore iusto dolor porro. A, laboriosam?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam itaque sunt velit in adipisci, exercitationem quas illo repudiandae porro autem modi nam! Neque dolore iusto dolor porro. A, laboriosam?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam itaque sunt velit in adipisci, exercitationem quas illo repudiandae porro autem modi nam! Neque dolore iusto dolor porro. A, laboriosam?</p>

          <p><a class="popup-link" href="#popup_2">Попап 2</a>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam itaque sunt velit in adipisci, exercitationem quas illo repudiandae porro autem modi nam! Neque dolore iusto dolor porro. A, laboriosam?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam itaque sunt velit in adipisci, exercitationem quas illo repudiandae porro autem modi nam! Neque dolore iusto dolor porro. A, laboriosam?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam itaque sunt velit in adipisci, exercitationem quas illo repudiandae porro autem modi nam! Neque dolore iusto dolor porro. A, laboriosam?</p>
        </div>
      </div>
    </div>
  </div>
</div>

